<% $.each(players, function(i, player) { %>
  <div class="player">
    <div class="colour" style="background-color:<%= player.colour %>">&nbsp;</div>
    <div class="nick"><%= player.nick %></div>
  </div>
<% }) %>
