<div id="launch">
  <h2>Welcome!</h2>
  <form id="register" action="#/register" method="post">
    <p>
      <label for="nick">Nick:</label>
      <input type="text" name="nick" value="<%= nick %>" />
    </p>
    <p>
      <label for="colour">Colour:</label>
      <input type="text" name="colour" value="<%= colour %>" />
    </p>
    <p>
      <input type="submit" value="Let me in" />
    </p>
  </form>
</div>
