body {
    margin: 0;
    padding: 0.5em;
    border-top: 5px solid #e06d0f;
    color: #333;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 0 0.5em 0;
    padding: 0;
}
h1,h2,h3 {
    color: #e06d0f;
    letter-spacing: -1px;
}
h1 {
    padding-left: 40px;
    line-height: 1em;
    background: url('images/rabbit.png') no-repeat left center;
 }
h4 {
    padding: 0.2em 0.5em;
    background: #999;
    color: #fff;
}
h5 {
    padding: 0.2em 0.5em;
    background: #bbb;
    color: #fff;
}

#sidebar {
   float: left;
   width: 195px;
}
#content {
   margin-left: 205px;
}

.status {
    font-size: 90%;
    font-style: italic;
}

.board {
    background: #ddd;
    border-spacing: 1px;
}
.ui-draggable-dragging .board {
    background: none;
}
.ui-draggable {
    cursor: move;
}
.board tr {
}
.board tr td {
    padding: 0;
}
.cell {
    background: #fff;
    width: 4px;
    height: 4px;
}
.cell.on {
    background: #333;
}

#colour-picker {
    margin: 0 0 1em 0;
}
#colour {
    width: 60px;
    height: 15px;
}
#icp_colour {
    border: 1px solid #ddd !important;
}
#mColorPicker {
    margin-top: 6px;
}

.pattern-section {
    clear: both;
}

.pattern-container {
    float: left;
    margin: 0 0.5em 0.5em 0;
    text-align: center;
}
.pattern-container h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.pattern {
    padding: 0 0 2px 2px;
}

#launch {
    padding: 0.5em;
}
#launch label {
    display: block;
    float: left;
    width: 5em;
}

/* player list header */
#root {
    clear: both;
}
#header {
    position: relative;
}
h1 {
    width: 10em;
}
#players {
    position: absolute;
    top: 0;
    left: 300px;
}
.player {
    float: left;
    height: 0.9em;
    width: 5em;
    padding-right: 0.5em;
}
.player .colour {
    width: 0.7em;
    height: 0.7em;
    float: left;
    border: 1px solid #ddd;
    margin-right: 0.2em;
}
.player .nick {
    font-size: 0.7em;
    overflow: hidden;
}

#error-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.70;
}
#error-overlay .message {
    margin: 10em auto 0 auto;
    padding: 1em;
    width: 30em;
    color: #ddd;
    text-align: center;
    opacity: 1.0;
    background: #333;
    border: 4px solid #666;
    border-radius: 5px;
}
