body {
    margin: 0;
    padding: 0.5em;
    border-top: 5px solid #f50;
    border-bottom: 5px solid #f50;
    color: #333;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 0 0.5em 0;
    padding: 0;
}
h1 {
    padding: 0 0 0 40px;
    line-height: 1em;
    color: #f50;
    background: url('rabbit.png') no-repeat left center;
    letter-spacing: -1px;
}
h4 {
    margin: 0 0 0.5em 0;
    padding: 0.2em 0.5em;
    background: #999;
    color: #fff;
}
h5 {
    margin: 0 0 0.5em 0;
    padding: 0.2em 0.5em;
    background: #bbb;
    color: #fff;
}

#sidebar {
   float: left;
   width: 12em;
}
#content {
   margin-left: 13em;
}

.board {
    background: #ddd;
    border-spacing: 1px;
}
.board tr {
}
.board tr td {
    padding: 0;
}
.cell {
    background: #fff;
    width: 4px;
    height: 4px;
}
.cell.on {
    background: #333;
}

#colour-picker {
    margin: 0 0 1em 0;
}

.pattern-section {
    clear: both;
}

.pattern-container {
    float: left;
    margin: 0 0.5em 0.5em 0;
}
.pattern-container h6 {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
